.login-form {
    width: 25rem;
    height: 18.75rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.padding20 {
    padding: 1.25rem;
}
.block-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}